<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="20%">
    <a md-button routerLink="/tags">Tags</a>
  </div>
  <div fxFlex="20%">
    <a md-button href="#">Posts</a>
  </div>
</div>
<router-outlet></router-outlet>